*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#ebb9ff, #dd86ff);
    min-height: 100vh;
}

.sidebar{
    position: fixed;
    top: 16px;
    left: 16px;
    height: calc(100vh - 32px);
    width: 270px;
    border-radius: 16px;
    background-color: #151a2d;
    transition: width 0.4s ease, transform 0.4s ease;
}

.sidebar.collapsed{
    width: 85px;
}

.sidebar .sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    position: relative;
}

.sidebar-header .header-logo img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-header .toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    color: #151a2d;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
