body{
    background-color: #3d4e66;
}

.tag-list{
    width: 30rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    overflow: hidden;
}

.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 5s linear infinite;
}
